In [40]:
import pandas as pd

In [41]:
admission_data=pd.read_csv("Admission_Predict.csv")

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
admission_data.head()

   Serial No.          Name  CET Score  Edu Percentage         Final Decision
0           1        Aditi         127              85  Admission not Allowed
1           2     Advitiya         111              75  Admission not Allowed
2           3     Alagesan         174              99      Admission Allowed
3           4        Amrish        198              75      Admission Allowed
4           5  Aprativirya         100              78  Admission not Allowed

In [44]:
# create input Dataset 
X=admission_data.drop(columns=['Serial No.','Name','Final Decision'])
y=admission_data['Final Decision']
model=DecisionTreeClassifier()
model=model.fit(X,y)
predictions=model.predict([[110,60],[168,75]])
predictions

array(['Admission not Allowed', 'Admission Allowed'], dtype=object)