In [2]:
import pandas as pd
from sklearn import linear_model
df=pd.read_csv("homeprices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
new_df=df.drop('price',axis='columns')
new_df

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [4]:
price=df.price
price

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [5]:
reg=linear_model.LinearRegression()
reg.fit(new_df,price)

LinearRegression()

In [7]:
reg.predict([[2600]])

array([533664.38356164])

In [8]:
reg.predict([[36000]])

array([5068972.60273973])

In [9]:
reg.predict([[25000]])

array([3575308.21917808])

In [10]:
reg.coef_

array([135.78767123])

In [11]:
reg.intercept_

180616.43835616432

In [13]:
2600*135.78767123+180616.43835616432

533664.3835541643

In [ ]:
import matplotlib.pyplot